* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('./fonts/Lato-Regular.ttf');
}

.d-none {
    display: none;
}

body {
    background-color: rgba(20, 17, 22, 0.93);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(20 17 22);
    width: 100%;
    height: 100px;
}

footer {
    background-color: rgb(20 17 22);
    width: 100%;
    height: 100px;
}

.content-header {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    /* border: 2px solid red; */
    padding: 25px 0px 0px 25px;
}

.logo-header {
    height: 50px;
    width: auto;
}

.content-footer {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer p {
    margin: 0;
}

.logo-footer {
    height: 38px;
}

main {
    max-width: 1440px;
    width: 100%;
    min-height: calc(100dvh - 200px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    margin: 24px 0 24px 0;
    padding: 0 16px 0 16px;
}

.content {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.single-gallery-img-btn {
    aspect-ratio: 1;
    min-height: fit-content;
    min-width: 104px;
    max-width: 12%;
    padding: 0;
    border: 2px solid whitesmoke;
    border-radius: 16px;
}

.single-gallery-img-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 6px grey;
}

.single-gallery-img-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.dialog-big-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    aspect-ratio: 1;
}

/* - - - - - - dialog - - - - - - */

dialog {
    height: 90dvh;
    min-width: 46vw;
    padding: 0 16px;
    border: 1px solid grey;
    color: whitesmoke;
    background-color: rgb(13, 13, 13);
    border-radius: 16px;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content-wrapper {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

.dialog-big-img-container {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
    margin: 0 8px;
}

h2 {
    display: inline;
    margin: 0;
    font-size: 24px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    margin: 8px 8px 0 8px;
    background-color: transparent;
}

.dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    margin: 0 8px 22px 8px;
    background-color: transparent;
}

.box-df-btn-left {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
}

.box-df-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.box-df-btn-right {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 33%;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.close-btn:hover {
    cursor: pointer;
    background-color: rgba(18, 70, 88, 1);
}

.close-btn:active {
    background-color: rgba(13, 50, 64, 1);
}

.nav-btn {
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: rgba(40, 33, 35, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: rgba(58, 36, 40, 1);
}

.counter {
    color: whitesmoke;
    font-size: 20px;
}

button:focus, [role="button"]:focus {
  outline: 2px solid whitesmoke;
  box-shadow: 0 0 5px 6px whitesmoke;
}


@media (max-width: 680px) {

    h2 {
        font-size: 16px;
    }

    .counter {
        font-size: 16px;
    }

    .dialog-header, .dialog-footer {
        height: 60px;
    }

    .nav-btn {
        width: 40px;
        height: 40px;
    }

}


@media (max-width: 400px) {

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 400px) {

    dialog {
        height: 75dvh;
    }
}